div {
    padding: 50px;
    border-bottom: 1px solid black;
}

h1 {
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-family: Tahoma;

}

h3 {
    font-family: Tahoma;
    text-align: center;
}

p {
    text-align: center;
    font-family: Tahoma;
}

a {
    width: 80px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 4px; 
    padding: 10px;
    font-family: Tahoma;
    font-weight: bold;
    color: white;
    background-color: #47ba6d;
    text-decoration: none;
    border-radius: 25px;
}

span {
    font-weight: bold;
}


img {
    display: block;
    margin: auto;
    width: 190px;
}