

* {
    padding: 0;
    margin: 0;
}

.secao-banner video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.borda-gradiente {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 5px solid linear-gradient(90deg, #ffdf00, #009c3b);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container::before {
    content: "";
  width: 215px;
  height: 215px;
  position: absolute;
  background: linear-gradient(90deg, #ffdf00, #009c3b);
  border-radius: 100%;
  z-index: -1;
}